<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>.: Bem-vindo - Fiveiech :.</title>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
	
</head>

<body>

    <!-- Barra de navegacao -->

    <div class="cabecalho">
		<div class="content">
			<a href="" class="logo"><img th:src="@{/img/logo.png}" alt="logo itaú" width="50px">
			<div class="menu">
				<div class="menu2"> <a href="/clientes"> Consulte </a> </div>
				<div class="menu2"> <a href=""> Cliente cadastrar </a> </div>
				</div>
			</div>
        </div>
    </div>

	<!-- imagem de bem-vindo -->
        <div class="imagem">
            <div class="bem-vindo"><br><br><br>
                <h2>Bem-vindo - FiveiTech - 2022</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>

</body>

</html>