<!DOCTYPE html>
<html lang="pt-br">

<head>
<title>.: FiveiTech - Cadastrar Contas :.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.png}">

<!--css-->
<link rel="stylesheet" type="text/css"
	th:href="@{/js/datatables/css/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/js/datatables/css/responsive.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/DataTables_boot.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/styles-highligt/default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/grade.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/auxiliar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style-m.css}">
<link rel="stylesheet" type="text/css" th:href="@{/acorddion/style.css}">

<!--icones-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/3f3417947e.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="base-topo">
		<div class="conteudo">
			<a href="" class="menu-m"><i class="fas fa-bars"></i></a> <a href=""
				class="logo"><img th:src="@{/img/cincoitech.png}" width="200px"></a>
			<ul>
				<li><a th:href="@{/}"> <span>ADMINISTRATIVA <small>Sair</small></span>
						<div class="thumb">
							<img th:src="@{/img/img-foto.png}">
						</div>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="base-home">
		<div class="rows">
			<div class="col-3 menu-lateral">
				<ul class="bgn">
					<li><a th:href="@{/}"><i class="fas fa-home"></i> Início</a></li>
				</ul>
				<div id="accordion">
					<h3>
						<i class="fas fa-user"></i> Cadastro Cliente
					</h3>
					<ul
						class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
						<li class="cd-accordion__item cd-accordion__item--has-children">
						<li
							class="cd-accordion__item cd-accordion__item--has-children quebra">
							<input class="cd-accordion__input" type="checkbox"
							name="sub-group-0" id="sub-group-0"> <label
							class="cd-accordion__label cd-accordion__label--icon-folder"
							for="sub-group-0"><span>Consultar</span></label>
							<ul class="cd-accordion__sub cd-accordion__sub--2">
								<li class="accodion_sub_link"><a
									th:href="@{cliente/listagem}">lista de Cliente</a></li>
								<li class="accodion_sub_link"><a
									th:href="@{cliente/cadastrar}">Cadastrar Cliente</a></li>
							</ul>
						</li>
						</li>
					</ul>

					<h3>
						<i class="fas fa-user"></i> Cadastro Contas
					</h3>
					<ul
						class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
						<li class="cd-accordion__item cd-accordion__item--has-children">
						<li
							class="cd-accordion__item cd-accordion__item--has-children quebra">
							<input class="cd-accordion__input" type="checkbox"
							name="sub-group-11" id="sub-group-11"> <label
							class="cd-accordion__label cd-accordion__label--icon-folder"
							for="sub-group-11"><span>Contas</span></label>
							<ul class="cd-accordion__sub cd-accordion__sub--21">
								<li class="accodion_sub_link"><a th:href="@{listagem}">lista
										de Contas </a></li>
								<li class="accodion_sub_link"><a th:href="@{cadastrar}">cadastrar
										Contas</a></li>
							</ul>
						</li>
						</li>
					</ul>
				</div>
			</div>
			<script src="js/js_aula.js"></script>
			<div class="centro">
				<div class="">
					<div class="caixa mb-3">
						<span class="titulo"><i class="fas fa-sign-in-alt"></i>
							Cadastrar Contas</span>
						<form action="salvar" method="post" th:object="${contas}">
							<div class="base-form ">
								<div class="rows">

									<div class="col-2 mb-3">
										<span class="label">Titular de Conta</span> 
										<input type="text"
											placeholder="Id de Cliente" 
											th:field="*{ownerAccount}" class="form-campo">
									</div>
									<div class="col-4 mb-3">
										<span class="label">selecionar Tipo de Conta</span> <select
											class="form-campo" name="tipoconta">
											<option value=''>Selecione</option>
											<option
												th:each="tipoconta : ${T(com.fiveitech.fiveitech.contas.tipo_conta).values()}"
												th:value="${tipoconta}" th:text="${tipoconta}"></option>
										</select>
									</div>

									<div class="col-2 mb-3">
										<span class="label">Agência</span> <input type="text" name=""
											placeholder="Número de agência" maxlength="4"
											class="form-campo" th:field="*{agencia}">
									</div>
									<div class="col-2 mb-3">
										<span class="label">Número de conta</span> <input type="text"
											name="ContaB" placeholder="Número de conta" 
											maxlength="8" required
											class="form-campo" th:field="*{numeroconta}">
									</div>
									<div class="col-2 mb-3">
										<span class="label">Saldo</span> <input type="text"
											name="saldo" placeholder="R$ 0,00" maxlength="9" 
											onkeyup="formatarMoeda()" class="form-campo"
											th:field="*{saldo}">
									</div>
									<div class="col-12 mt-3">
										<input type="submit" value="salvar"
											class="btn btn-laranja m-auto d-table">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<!-- script js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/jquery.mask.js}"></script>
<script th:src="@{/js/componentes/js_data_table.js}"></script>
<script th:src="@{/js/js.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/mascara.js}"></script>
<script th:src="@{/acorddion/util.js}"></script>
<script th:src="@{/acorddion/main.js}"></script>

<script>

	/* R$ dinheiro Mascara */
	function formatarMoeda() {
		var elemento = document.getElementById('valor');
		var valor = elemento.value;

		valor = valor + '';
		valor = parseInt(valor.replace(/[\D]+/g, ''));
		valor = valor + '';
		valor = valor.replace(/([0-9]{2})$/g, ",$1");

		if (valor.length > 6) {
			valor = valor.replace(/([0-9]{3}),([0-9]{2}$)/g, ".$1,$2");
		}

		elemento.value = valor;
		if (valor == 'NaN') elemento.value = '';
	}



	/* R$ numero de conta Mascara */

	function FormataDado(campo, tammax, pos, teclapres) {
		var keyCode;
		if (teclapres.srcElement) {
			keyCode = teclapres.keyCode;
		} else if (teclapres.target) {
			keyCode = teclapres.which;
		}
		if (keyCode == 0 || keyCode == 8) { return true; }
		if ((keyCode < 48 || keyCode > 57) && keyCode != 88 && (keyCode != 120)) { return false; }
		var tecla = keyCode;
		vr = campo.value;
		vr = vr.replace("-", "");
		vr = vr.replace("/", "");

		tam = vr.length;
		if (tam < tammax && tecla != 8) { tam = vr.length + 1; }
		if (tecla == 8) {
			tam = tam - 1;
		}
		if (tecla == 8 || tecla == 88 || tecla >= 48 && tecla <= 57 || tecla >= 96 && tecla <= 105 || tecla == 120) {
			if (tam <= 2) {
				campo.value = vr;
			}
			if (tam > pos && tam <= tammax) {
				campo.value = vr.substr(0, tam - pos) + "-" + vr.substr(tam - pos, tam);
			}
		}
	}
</script>

</html>