@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
	background:#f3f2f2;
	height:100vh;
	padding-top: 56px;
}
::-webkit-scrollbar{width:5px;height:5px}
::-webkit-scrollbar-thumb{background:#545454;border-radius:5px;}
::-webkit-scrollbar-track{background:#000;}

a{color:#46afef;text-decoration:none}

/* logo - img - base-topo - conteudo */	
.base-topo{
	width:100%;
	float:left;
	background:#fc5b03;
	padding:3px;
	position:fixed;
	top:0;
	z-index:2;
	left:0;
	border-bottom: solid 3px #212374;
	border-left: solid 3px #212374;
	border-top: solid 3px #212374;
}
.base-topo .logo{
	display:inline-block
}
.base-topo ul{
	float:right
}
.base-topo ul li{
	display:inline-block
}
.base-topo ul li a{
	color:#fff;
	text-decoration:none
}
.base-topo ul li span{
	display:inline-block
}
.base-topo ul li span small{
	display:block;text-align:right
}
.base-topo ul li .thumb{
	display:inline-block;
	width:40px;
	height:40px;
	overflow:hidden;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border:solid 1px #20292a;
}
.base-topo ul li .thumb img{
	width:100%;
}
.conteudo{
	max-width:1180px;
	width:100%;
	margin:0 auto;
}

/*base-home - bem vindo */
.base-home{
	padding: 0 3rem;
    width: 100%;
    float: left;
    margin-top: 1.5rem;
}
.base-home .caixa-home
{
	background:#3e90af;
	border-radius:0;
	padding:1.8rem 1rem;
	text-align:center;
	color:#fff;
	min-height: auto;
	text-align:center
}
.base-home .col-3 .caixa span{
	text-transform:uppercase;
	margin-top:1rem;
	display:block;
}

.base-home .col-3 .caixa img{
	opacity:0.8 ;  
}
.base-home .col-3 .caixa {
    background: #fc5b03;
    border-radius: 0;
    padding: 1.8rem 1rem;
    text-align: center;
    color: #fff;
    min-height: auto;
}
/* menu-lateral */
.menu-lateral{
	width: 215px;
	position:fixed;
	left:0;
	top:63px;
	bottom:0;
	height: calc(100vh - 0px);
	background:#fc5b03;
	    flex: 0 0 20%;
	    ms-flex: 0 0 20%;
		max-width:275px;
		color:#fff;
		padding: 10px 0;
		z-index: 2;
	overflow-y:auto;
	border-right: solid 3px #212374;
	border-left: solid 3px #212374;
}
.menu-lateral #accordion h3,
.cd-accordion label span
{
	display:block;
	text-transform:uppercase;
	color:#f3f2f2;
	padding: 15px;
    font-weight: 400;
    font-size:.93rem;
	cursor:pointer;
	margin-bottom:0;
	position:relative
}
.cd-accordion label{cursor:pointer;padding-left: 2rem;}
.cd-accordion label span{padding: 0;}
.menu-lateral #accordion h3:after{
	content:"+";
	position:absolute;
	right: 12px;
    top: 14px;
}
.menu-lateral #accordion h3:focus{
	outline:none;
	background:#2c0506;
	color: #fff;
}
.menu-lateral #accordion h3:focus:hover{
	background:#2c0506
}
.menu-lateral #accordion h3:hover,.menu-lateral ul.bgn>li:hover,
.menu-lateral #accordion ul>li:hover{
	background:#00000040
}
.menu-lateral ul>li.accodion_sub_link{
	margin-left: 0;
	padding:6px 6px 6px 40px;
}
.menu-lateral ul{
	    background: #0000004f;
}
.menu-lateral ul.bgn{
	    background:none
}
.menu-lateral ul.bgn>li {
    padding-left: 14px;
}
.menu-lateral ul>li.quebra{
	padding:0;
	padding-left:0px;
}
.menu-lateral ul.cd-accordion .cd-accordion__item.cd-accordion__item--has-children{
	padding:0;
	padding-left:0px;
}
.menu-lateral ul.cd-accordion .cd-accordion__item.cd-accordion__item--has-children ul li a{
	font-size:.8rem
}
.menu-lateral ul>li{
	display:block;
	padding:12px;
	padding-left:30px;
}
.menu-lateral ul>li>a{
	display:block;
	color:#f3f2f2;
	text-decoration:none;
	font-size:.9rem;
	text-transform:uppercase;
}
.centro{
	    padding-left: 200px;
    max-width: 100%;
    flex: 0 0 100%;
}
.caixa{
	display:inline-block;
	background:#FFF;
	width:100%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	overflow:hidden;
	min-height:calc(100vh - 96px)
}
.titulo{
	    background: #e6e6e6;
    display: block;
    color: #000000;
    padding: 10px;
    text-transform: uppercase;
    text-align: left;
    border: solid 1px #00000029;
	font-weight:600
}
.titulo .text-vermelho {color: #cc1113!important;}

.base-form{
	background:#fff;
	padding:1rem 2rem
}
.base-form .label{
	display:block;
    font-size: .83rem;
    text-transform: uppercase;
        padding-bottom: .4rem;
    padding-top: .5rem;
    color: #3e3c3c;
}
.menu-m {
    display: none;
    width: 24px;
    height: 24px;
	color:#fff;
	font-size:1.8rem;
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 20px;
	z-index:1;
}